
@font-face {
    font-family: 'clothes';
    src: url(../fonts/Clothes.ttf) format('truetype');
}

@font-face {
    font-family: 'music';
    src: url(../fonts/Music.ttf) format('truetype');
}

@font-face {
    font-family: 'shoes';
    src: url(../fonts/Shoes.ttf) format('truetype');
}

@font-face {
    font-family: 'montserrat';
    src: url(../fonts/Montserrat-ExtraLight.ttf);
}

body {
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: buttonface;
    margin: -100px 100px 0 100px;
    padding: 100px;
    padding-bottom: 0;
}

input {
    width: 350px;
    background-color: buttonface;
    border: 0;
    height: 30px;
}

button {
    border: 0;
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flexbox;
    background-color: white;
    border-bottom: 1px solid #f0f0f0;
    height: 100px;
    box-shadow: 0 2px 5px 1px rgba(78, 73, 82, 0.16);
}

.header__container {
    max-width: 80vw;
    margin: 0 auto;
    padding: 15px 0;
}

.header__logo {
    display: flex;
    gap: 1.2rem;
    align-items: center;
    color: #c92071;
    padding: 30px 50px 30px 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.header__pesquisa {
    min-width: 50%;
    display: flex;
    justify-content: center;
}

.header__cadastro {
    color: rgb(57, 57, 65);
    font-size: small;
}

.login {
    background-color: #c92071;
    color: white;
    border: 0;
    height: 0.8cm;
    width: 2.5cm;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}

.search .lupa {
    height: 0.4cm;
}

.compras {
    background-color: #c92071;
    border: 0;
    height: 1cm;
    width: 1cm;
    cursor: pointer;
}

.menu {
    font-family: 'montserrat';
    font-size: 13px;
    display: flex;
    padding: 10px 20px 10px 50px;
    gap: 3rem;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.melhores-ofertas-personalizadas {
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    padding: 0;
    margin: 0;
}

.ver-ofertas {
    background-color: #c92071;
    color: white;
    border: 0;
    height: 0.8cm;
    width: 3.5cm;
    font-family: 'montserrat';
    border-radius: 5px;
}

.melhores-ofertas {
    color: orange;
}

.queima-nike {
    font-size: 2.4rem;
}

h3:hover {
    color: #c92071;
    text-decoration: underline;
}

main>.ofertas-personalizadas {
    padding: 50px 0 30px 0;
    display: flex;
    justify-content: space-around;
    gap: 2 0px;
}

div>.ofertas {
    padding: 30px 50px 30px 50px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.colecoes {
    font-size: 17px;
    padding: 0 100px 0 60px;
}

.supreme-off {
    height: 220px;
    width: 330px;
    background-image: url(../imagens/drop_supreme_menor.png);
    border-radius: 5px;
}

.adidas-off {
    height: 220px;
    width: 330px;
    background-image: url(../imagens/adidas_menor.png);
    border-radius: 5px;
}

.fone-off {
    height: 220px;
    width: 330px;
    background-image: url(../imagens/fones_menor.png);
    border-radius: 5px;
}

.off-trinta {
    background-color: rgb(198, 248, 125);
    font-size: 10px;
    height: 12px;
    width: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 5px 5px 7px 5px;
    margin: 25px 20px 5px 23px;
    text-transform: uppercase;
    color: rgb(82, 82, 82);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.comprar-off {
    background-color: #f0f0f0;
    color: #c92071;
    border: 0;
    height: 1cm;
    width: 3cm;
    font-family: 'montserrat';
    border-radius: 5px;
    margin: 0 20px 30px 23px;
    cursor: pointer;
}

.drop-supreme,
.tenis-adidas,
.fones {
    margin: 20px 20px 20px 23px;
    font-size: 27px;
}

.artigos {
    font-size: 25px;
    padding: 50px 100px 0 60px;
    text-align: center;
}

.artigos-destaque {
    display: flex;
    justify-content: center;
    gap: 60px;
    height: 100px;
}

.artigos-nomes {
    display: flex;
    justify-content: center;
    gap: 80px;
    height: 100px;
    font-size: 17px;
}

.camiseta,
.calca,
.bone {
    font-family: 'clothes';
    font-size: 85px;
    color: rgb(82, 82, 82);
    text-align: center;
    margin: 10px;
    background-color: buttonface;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0;
}

.headphone {
    font-family: 'music';
    font-size: 75px;
    color: rgb(82, 82, 82);
    text-align: center;
    margin: 10px;
    background-color: buttonface;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0;
}

.tenis {
    font-family: 'shoes';
    font-size: 85px;
    color: rgb(82, 82, 82);
    text-align: center;
    margin: 10px;
    background-color: buttonface;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 0;
}

.camiseta:hover {
    font-family: 'clothes';
    font-size: 85px;
    color: #c92071;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.calca:hover {
    font-family: 'clothes';
    font-size: 85px;
    color: #c92071;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.bone:hover {
    font-family: 'clothes';
    font-size: 85px;
    color: #c92071;
    text-align: center;
    margin: 10px;
    cursor: pointer;

}

.headphone:hover {
    font-family: 'music';
    font-size: 75px;
    color: #c92071;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.tenis:hover {
    font-family: 'shoes';
    font-size: 85px;
    color: #c92071;
    text-align: center;
    margin: 10px;
    cursor: pointer;
}

.nomes-artigos {
    width: 100px;
    text-align: center;
}

.produtos-em-alta {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 20px 30px 0px 30px;
}

.kswiss {
    background-color: white;
    height: 240px;
    width: 220px;
    border-radius: 5px;
}

.off-trinta-alta {
    background-color: rgb(198, 248, 125);
    font-size: 10px;
    height: 12px;
    width: 50px;
    border-radius: 20px;
    text-align: center;
    padding: 5px 5px 7px 5px;
    margin: 7px 20px 5px 7px;
    text-transform: uppercase;
    color: rgb(82, 82, 82);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.produtos-em-alta-nome {
    font-family: 'montserrat';
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 0px 30px 50px 30px;
}

.kswiss-tenis {
    font-family: 'montserrat';
    font-size: 10px;
    margin: 5px 5px 5px 0;
}

.kswiss-nome {
    font-family: 'montserrat';
    font-size: 15px;
    margin: 5px 5px 5px 0;
}

.kswiss-preco {
    font-family: 'montserrat';
    font-size: 15px;
    margin: 5px 5px 5px 0;
}

.oferta-especial {
    color: #c92071;
}

.air-jordan {
    margin: 40px;
}

.footer__container {
    display: flex;

}

.footer__logo {
    width: 300px;
    margin: 30px 40px 30px 70px;
}

.footer__conteudo {
    display: flex;
    width: 700px;
    height: 250px;
    gap: 100px;
    padding: 30px;
}

h5 {
    margin: 10px 0 10px 0;
    font-size: 13px;
}

h6 {
    margin: 2px 0 30px 0;
}

hr {
    color: rgb(210, 200, 200);
    margin: 10px 70px 0 70px;
}

.rodape {
    margin: 25px;
    text-align: center;
    height: 50px;
}

.redes-sociais {
    display: flex;
    gap: 30px;
    margin-top: 40px;
}
