* {
    margin: 0;
    padding: 0;
}
body{
   background: #fbfeff;
}
.container {
    margin: 100PX;
    padding: 30PX;
    background: #acd8e7;
    border-radius: 30px;
}
h2 {
    color: rgb(255, 252, 252);
    font-size: 40px;
    padding-left: 40px;
}
p {
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
        
}


