@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Inter', sans-serif;
}

/* generic classes */

.text-primary {
    color: #C92071;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* header */

header {
    height: 80px;
    background: #fff;
}

header > nav {
    display: flex;
    padding: 20px 100px;
    gap: 3rem;
    justify-content: space-between;
}

header > nav .logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

/* main */

main {
    background: linear-gradient(180deg, #B5B6F2 0%, #EFEFFF 100%);
    min-height: 620px;
}

/* footer */

footer {
    background: #1F1F1F;
    color: white;
    padding: 70px 100px 30px 100px;
    min-height: 454px;
}

footer h5 {
    font-size: 16px;
    margin: 0 0 28px 0;
}

footer a,
footer p {
    color: white;
    font-size: 14px;
    line-height: 26px;
}

footer small {
    font-size: 11px;
}

footer > .container > .top {
    display: flex;
    flex: 1;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
}

footer > .container > .top > .brand {
    max-width: 400px;
    padding: 0 90px 0 0;
}

footer > .container > .top > .brand > img.logo {
    width: 240px;
    margin: 0 0 35px 0;
}

footer > .container > .top > .brand > p {
    padding-top: 1.5rem;
}

footer > .container > .top > .brand ul {
    display: flex;
    list-style-type: none;
    gap: 35px;
    margin: 35px 0 0 0;
    padding-left: 0.5rem;
}

footer > .container > .top > .info {
    padding: 0 40px;
}

footer > .container > .top > .category {
    padding: 0 40px;
}

footer > .container > .top > .info > ul > li > a, footer > .container > .top > .category > ul > li > a {
    line-height: 38px;
}

footer > .container > .top > .contact {
    padding: 0 0 0 90px;
    max-width: 300px;
}

footer > .container > .divider > .line {
    background: #626262;
    height: 1px;
    width: 100%;
    margin: 30px 0;
}

footer > .container > .copyright {
    display: flex;
    justify-content: center;
}
