table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 15px;
    text-align: left;
    font-size: 20px;
  }
  
  th {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .imagem img {
    max-width: 100px;
    max-height: 100px;
  }
  .tamanho-imagem {
    max-width: 200px;
    max-height: 200px;
}
  h2 {
    text-align: center;
    background-color: #e5e3e3;
    padding: 15px;
  }
  