body {

background: #ddbbbb;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}


h1 {

color: #fff;
background: #c58787;
padding: 20px;
border-radius: 10px;
text-align: center;



}


p {

 background: #d1a1a1;
 border-radius: 10px;



}