* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    background: url("./img/Design\ sem\ nome\ \(1\).png");
    text-align: center;
    display: flex;
    width: 100%;
}
.texto {
  font-size: 2rem;
  padding-top: 15rem;
  margin-left: 40rem;
  text-align: justify;
  white-space: nowrap;

}
